body {
    font-family: monospace;
    background-color: #0c0c0c;
}

.header {
    background-color: #2b2b2b;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border-radius: 5px;
    border: #009e00 1px solid;
}

/* nav section */

nav {
    width: auto;
}

.nav-element {
    color: white;
    font-size: 24px;
    display: inline;
    margin: 0px;
}
.nav-link {
    color: white;
    font-size: 16px;
    display: inline;
    margin-left: 10px;
}
 /* site section */
.site {
    margin: 5px;
    padding: 5px;
    color: #ffffff;


}
.site h1{
    text-align: center;
    letter-spacing: 2px;

}

.site h2 {
    text-align: center;
}
.site h3 {
    text-align: center;
}

.site hr {
    color: white;
    width: 100%;
}

.site span {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.img-center {
    display: flex;
    justify-content: center;
}
/* footer section */

.footer {
    position: absolute; bottom: 0;
    color: #acacac;
    display: flex;
}
